################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1Numbers/FractionalArithmetic/obj/Debug
/1Numbers/FractionalArithmetic/.vs/FractionalArithmetic/v15
/1Numbers/FractionalArithmetic/FractionalArithmetic.csproj.user
